.page {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  font-family: var(--font-family);
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-width: 375px;
  max-width: 100%;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  margin-inline: 10px;
  justify-items: end;
  align-items: center;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.rec {
  position: absolute;
  top: 10px;
  right: 28px;
  font-size: 18px;
  color: var(--accent-color);
  display: var(--display-decorated);
}

.rec:after {
  content: "";
  position: absolute;
  top: 8px;
  right: -18px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  align-self: start;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  background: transparent;
  color: var(--accent-color);
  padding: 1px 13px;
  cursor: pointer;
  font-size: 18px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block: 55px;
  justify-self: start;
  margin-inline-start: 0;
}

.title-decor {
  color: var(--subtitle-color);
  background-color: var(--title-decor);
}

.header__text {
  font-size: 18px;
  font-weight: 700;
  align-self: start;
  line-height: 1.3;
}

.main__content {
  font-size: 18px;
  margin-inline: 10px;
  margin-block: 40px;
}

.section:not(:first-of-type) {
  margin-block-start: 50px;
}

.section__title {
  color: var(--accent-color);
  font-size: inherit;
  margin-block-end: 20px;
  font-weight: 700;
}

.article-block {
  margin-block-end: 20px;
}

.article-block__text {
  color: var(--text-color);
  margin-block-start: 10px;
  line-height: 1.3;
  font-weight: 400;
}

.highlight {
  display: block;
  margin-block: 20px 10px;
  font-weight: 400;
}

.decorated__link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.decorated__link:hover {
  border-bottom: 1px solid currentColor;
}

.decorated__link:focus-visible {
  outline: 1px solid currentColor;
}

.galery__section__images {
  display: grid;
  gap: 10px;
  margin-block-start: 10px;
}

.galery__section__images img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  position: relative;
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  place-items: center;
  margin-inline: 10px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    min-height: 1024px;
    margin-inline: 20px;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .rec {
    top: 20px;
    right: 38px;
  }

  .header__theme-menu {
    grid-column: 2;
    margin-block-start: 170px;
  }

  .header__title {
    grid-column: 1 / -1;
    grid-row: 2;
    margin-block: 170px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__text {
    grid-column: 2;
    grid-row: 3;
  }

  .main__content {
    margin-inline: 20px;
    margin-block: 60px;
  }

  .reasons__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section:not(:first-of-type) {
    margin-block-start: 80px;
  }

  .distractions__section .section__title {
    max-width: 236px;
  }

  .distractions__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .distractions__section .section__articles {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .advice__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .advice__section .section__title {
    grid-row: 1;
  }

  .advice__section .section__articles {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
  }

  .galery__section .galery__section__images {
    gap: 20px;
    margin-block-start: 20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .footer {
    min-block-size: 1024px;
    margin-inline: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: start;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
  }

  .header__title {
    margin-block: 175px;
  }

  .reasons__section {
    grid-template-columns: 315px 1fr;
    gap: 20px;
  }

  .distractions__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .distractions__section .section__title {
    grid-column: span 1;
    max-width: 315px;
  }

  .distractions__section .section__articles {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
  }

  .advice__section {
    grid-template-columns: 315px 1fr;
    gap: 20px;
  }

  .advice__section .section__title {
    grid-row: 1;
  }

  .advice__section .section__articles {
    grid-column: 1 / -1;
  }

  .footer {
    min-height: 768px;
  }
}
